textarea {
	resize: none;
	height: 240px;
}
.top {
	height: 40px;
}
.top > div {
	padding-top: 10px;
	height: 100%;
	border-bottom: 1px solid lightgrey;
}
.top > div:nth-child(1) {
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
}
.top > div:nth-child(2) {
	border-right: 1px solid lightgrey;
}

#file-bar {
	height: 30px;
}
#file-bar > div {
	padding-top: 6px;
	height: 100%;
	display: inline-block;
}
#file-bar > div:hover {
	background: lightgrey;
}