* {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 200;
	font-size: 1.05em;
}

*::selection {
	background: transparent;
	color: grey;
}
*::-moz-selection {
	background: lightgrey;
	color: grey;
}
textarea::selection {
	background: lightgrey;
	color: grey;
}
textarea::-moz-selection {
	background: transparent;
	color: grey;
}

textarea {
	resize: none;
	height: 240px;
	border: 1px solid grey;
	border-left: none;
	border-right: none;
}
.top {
}
.top > div {
	padding-top: 8px;
	padding-bottom: 8px;
}

#file-bar {
}
#file-bar > div {
	padding-top: 6px;
	height: 100%;
	display: inline-block;
	text-align: center;
}
#file-bar > div:hover {
	background: lightgrey;
}
#file-bar > div > span {
	display: block;
}
#file-bar > div > i {
	color: grey;
	border: 1px solid grey;
	padding: 8px;
	border-radius: 100%;
}