* {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 200;
	font-size: 1.05em;
}

*::selection {
	background: transparent;
	color: grey;
}
*::-moz-selection {
	background: lightgrey;
	color: grey;
}
textarea::selection {
	background: lightgrey;
	color: grey;
}
textarea::-moz-selection {
	background: transparent;
	color: grey;
}

textarea {
	resize: none;
	height: 240px;
	border: 1px solid grey;
	border-left: none;
	border-right: none;
}
.top {
}
.top > div {
	padding-top: 8px;
	padding-bottom: 8px;
}

#account-bar > form > input {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid lightgrey;
	display: inline-block;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
	color: grey;
}
#account-bar > form > input:hover {
	color: black;
}
#account-bar > form > input:active {
	background: grey;
}
#account-bar > form > input:nth-child(3) {
	border: 0;
	text-align: center;
	border-bottom: 1px solid lightgrey;
	background: lightgrey;
}
#account-bar > form > input:nth-child(4) {
	background: lightgrey;
}
#account-bar > form > input:nth-child(3):active {
	background: grey;
	color: black;
}
#account-bar > form > input:focus {
	outline: 0;
}

#file-bar {
}
#file-bar > div {
	padding-top: 12px;
	padding-bottom: 6px;
	height: 100%;
	display: inline-block;
	text-align: center;
}
#file-bar > div:hover {
	background: lightgrey;
}
#file-bar > div > span {
	display: block;
}
#file-bar > div > i {
	color: grey;
	border: 1px solid grey;
	padding: 8px;
	border-radius: 100%;
}

#message-box {
	padding: 12px;
	background: black;
	color: white;
	border: 1px solid white;
	position: fixed;
	top: 0px;
	z-index: 1000;
}
#register-box {
	padding: 24px;
	background: white;
	color: grey;
	border: 1px solid grey;
	position: fixed;
	top: 8px;
	z-index: 1001;
}
#register-box > form > div {
	margin-bottom: 8px;
}
#register-close {
	background: lightgrey;
	text-align: center;
	cursor: pointer;
}
#register-close:hover {
	color: black;
}
#register-close:active {
	background: grey;
}

#account-box {
	padding: 24px;
	border: 1px solid grey;
	box-shadow: 2px 2px lightgrey;
	position: absolute;
	z-index: 1004;
	background: white;
}
#account-box > span {
	display: inline-block;
	background: lightgrey;
	padding: 8px;
	margin-bottom: 8px;
	text-align: center;
	cursor: pointer;
}
#account-box > span:hover {
	color: black;
}
#account-box > span:active {
	background: grey;
	color: black;
}